* {
    margin: 0;
    position: relative;
    padding: 0;
}

.calendar_table tbody {
    overflow-y: auto!important;
    height: calc(100vh - 105px)!important;
    -ms-overflow-style: none!important;
    scrollbar-width: none!important;

}
/*.calendar_table{
    height: calc(100vh - 72px)!important;
}*/
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content{
 /*   height: 68px!important;*/
}

.window {
    background: #979797;
    width: 200px;
    height: 50px;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.markerCalendar {
    background: brown;
    width: 10px;
    height: 10px;
}

events label {
    background: brown !important;
    width: 10px !important;
    height: 10px !important;
}

.events li {
    width: 100%;
    overflow: hidden;
    margin-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;

}

.notes-month {
    font-size: 25px;
    text-align: center;
}

.notes-month section {
    font-size: 28px;
}

.element.style {
}

.ant-picker-panel-container {
    background-color: transparent !important;
}

.ant-picker-calendar .ant-picker-panel .ant-picker-content .tbody{
    overflow: auto!important;
}
.ant-picker-calendar .ant-picker-panel .ant-picker-body {
    padding: 0 0;
}
.tbody tr  td {
    height: calc(100vh / 10)!important;
}
.ant-picker-calendar-full .ant-picker-panel {
    text-align: left !important;

}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-value {
    padding-left: 8px !important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date{
    border-top:none !important;
    padding: 0px 0px 0  !important;
}


.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
    padding-left: 8px !important;
  /*  height: 1fr!important;*/
    height: calc(100vh / 10)!important;
    width: 1fr !important;
}
.ant-picker-calendar-date-content::-webkit-scrollbar {
    width: 0!important;
    height: 0!important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
    height: 32px !important;
    background-color: #4B84F4 !important;
    color: #ffffff !important;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    padding-left: 16px !important;
    /* table-layout:fixed!important;*/
    width: 100% !important;
}

.ant-picker-calendar-header {
    display: none !important;
}
