
.registration {

    display: grid;
    width: 100%;
    height: 100vh;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.right {
    width: 100%;
    align-items: center;
    background: #345294;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}


.title_right {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.left {

    height: 100%;
    display: grid;
    align-content: center;
    width: 408px;
    align-self: center;


}

.title_left {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: grid;
    align-items: center;

    color: #4B84F4;

}

.addFile {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 250px;
    margin-bottom: 5px;
    margin-top: 12px;
}

.addFile span {
    margin-left: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #979797 /*color: #2E2E2E;

    opacity: 0.5;*/
}

.error {
    color: red;
}

.file {
    display: none;
}

.inputArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 8px;
}

.inputArea p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #979797;
    margin-top: 8px;
    margin-bottom: 8px;
    /* color: #2E2E2E;
     opacity: 0.5;*/
}


.inputArea input {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    /*    opacity: 0.1;*/
    outline: #CBCBCB;

    border: 1px solid #CBCBCB;
    border-radius: 8px;
    color: black;
    /*color: #444;*/
    padding: 8px 16px;
}

.inputArea.select {
    color: #CBCBCB;
    box-sizing: border-box;
    /*    width: 200px;*/
    /* height: 40px;*/
    /*    opacity: 0.1;*/
    outline: #CBCBCB;

    border: 1px solid #CBCBCB;
    border-radius: 8px;
}

.btn {
    margin-top: 16px;
    width: 408px;
    height: 40px;
    background: #345294;
    /*opacity: 0.2;*/
    border: none;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.link {
    width: 376px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}