.Event {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Inter';
    font-style: normal;
    font-size: 10px;
    color: #2E2E2E;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    overflow: hidden;
    /*position: relative;*/
    height: 72px;
}

.EventItem {
    display:block;
    align-items: center;
    cursor: pointer;
    padding-right:5px ;
}
.EventStart{
    width: 100%;
}

.marker {
    width: 10px;
    height: 100%;

/*    border-radius: 6px 0 0 6px*/
}



/****************************info*************************/
