.Event {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Inter';
    font-style: normal;
    font-size: 10px;
    color: #2E2E2E;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    /*border: 1px solid #E9E9E9;*/
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    height: 70px;
}

.EventItem {
    display: grid;
    align-items: center;
    cursor: pointer;
}

.marker {
    width: 10px;

/*    border-radius: 6px 0 0 6px*/
}

