:root {
    --square-size: 100%;
}

.Event {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    color: #2E2E2E;
    clear: both;
    white-space: nowrap;
    text-overflow: ellipsis;
/*    position: relative;*/
}

.item {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    //border: 1px solid #E9E9E9;
    border-radius: 6px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*.Event {
    width:  var(--square-size);;
    display: flex;
    align-items: center;
    !* justify-content: start;*!
    font-family: 'Inter';
    font-style: normal;
    color: #2E2E2E;
    position: relative;
    overflow: hidden;
    clear: both;
    !* display: inline-block;
     overflow: hidden;*!
    white-space: nowrap
}

.item {
    width: var(--square-size);
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    !* overflow: hidden;*!
    height: 72px;
}*/

/*.item:nth-child(2){
    width: var(--square-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    overflow: hidden;
    height: 72px;
    z-index: 1;
}*/
/*.item:nth-child(4){
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
    overflow: auto;
    height: 72px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
}*/

.EventItem {
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: block;
    align-items: center;
    justify-content: start;
    color: #000000;
}

.EventStart {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
}

.marker {
    display: inline-block;
    height: 70px;
    width: 8px;
    /*    border-radius: 6px 0 0 6px*/
}


/****************************info*************************/
