.header{
   display: flex;
   justify-content: space-between;
   padding: 8px 24px;
   background: #FFFFFF;
}
.left,.right{
   display: flex;
   align-items: center;
}
.today ,.day{
   width: 112px;
   height: 32px;
   background: #FFFFFF;
   box-shadow: 0px 1px 5px rgba(55, 55, 55, 0.17);
   border-radius: 8px;
   border: none;
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor:pointer;


   color: #2E2E2E;
}
.day option{
   cursor:pointer;
   border: none;
}
.day{
  margin-left: 8px;
   padding-left:16px;
   outline: none;
}


.btnArrowLeft,.btnArrowRight{
   border:none;
   width:16px;
   height: 16px;
   background: #FFFFFF;
   display: flex;
   align-items: center;
}
.btnArrowLeft{
   margin-left: 24px;
   margin-right: 16px;
}
.btnArrowRight{
   margin-right: 13px;
}

.date{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   display: flex;
   align-items: center;

   color: #2E2E2E;
}

.avatar {
   width: 32px;
   height: 32px;
   margin-left: 16px;
}
.avatar img{
   width: 100%;
   height: 100%;
   border-radius: 100%;
}

.search,.bell{
   width: 32px;
   height: 32px;
   border: 1px solid rgba(46, 46, 46, 0.2);
   border-radius: 8px;
   display: grid;
   justify-content: center;
   align-items: center;
   background: #FFFFFF;
   margin-left: 8px;

}
