.content{
     display: grid;
    grid-template-rows: 48px 1fr;
    background: #F5F5F5;
}

.content_calendar{
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 24px;
    background: #FFFFFF;
}

/*
.content_calendar{

    overflow-y: auto;
    height: calc(100vh - 72px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.content_calendar::-webkit-scrollbar {
    width: 0;
    height: 0;
}*/
